@tailwind base;
@tailwind components;
@tailwind utilities;






.chat-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  overflow: scroll;
  overflow-x: hidden;
}
.chat-body::-webkit-scrollbar {
  width: 5px; 
  height:5px ;  
}
.chat-body::-webkit-scrollbar-track  {
  background: #efacf6; 
}
.chat-body::-webkit-scrollbar-thumb  {
  background-color: #F082DA;    
  border-radius: 20px;
}

.message {

background: #F082DA;
color: #812eaa;
padding: 0.7rem;
border-radius: 1rem 1rem 1rem 0;
max-width: 28rem;
width: fit-content;
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.message>span:nth-child(2){
  font-size: 0.7rem;
  align-self: end;
}

.own {
align-self: flex-end;
border-radius: 1rem 1rem 0 1rem;
background: #efacf6;
}



