#input::-webkit-slider-thumb{
   appearance: none;
   margin-top: -12px; 
   background:#812eaa;
   height: 30px;
   width: 30px;  
   border-radius: 100px;
   
}
#input::-webkit-slider-runnable-track{
    height: 5px;
  background: #812eaa;

  
}
#input{
    border: none;
}